__pycache__/
*.py[cod]
*.sqlite3
.env
/staticfiles/
/media/
.DS_Store
.idea/
.vscode/
.venv
build/
desktop/node_modules/
desktop/dist/
desktop/backend/build/
desktop/backend/dist/
desktop/backend/.venv-build/
desktop/backend/.pyenv/
desktop/backend/.pyenv-win/
desktop/backend/.venv-build

salary_tracker.egg-info
**/__pycache__/**
