__pycache__/
*.py[cod]
*.sqlite3
.env
/staticfiles/
/media/
.DS_Store
.idea/
.vscode/
.venv

**/__pycache__/**
node_modules/
/static/js/vendor/
/static/js/dashboard.bundle.js
/static/js/dashboard.bundle.js.LEGAL.txt
